In [3]:
from glob import glob
file_name = glob("data/서울*")[0]
file_name

'data\\서울특별시 강남구_생활폐기물배출량_20221019.csv'

In [4]:
import pandas as pd
df = pd.read_csv(file_name, encoding='cp949')
df

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911