In [1]:
#파일 로드
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/medical_201909.csv.zip", low_memory=False)
df.shape

(91335, 39)

In [12]:
df["시도명"]

0          경기도
1        서울특별시
2          경기도
3        부산광역시
4          경기도
         ...
91330    대전광역시
91331      경기도
91332    부산광역시
91333    서울특별시
91334     충청남도
Name: 시도명, Length: 91335, dtype: object

In [22]:
# 약국 데이터만 가져오기
df_medi = df[df["상권업종소분류명"] == "약국"]
df_medi.head(4)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
4,20364049,더블유스토어수지점,수지점,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4146510100107120002026238,NaN,경기도 용인시 수지구 문정로 32,448170.0,16837.0,NaN,1,NaN,127.095522,37.323528
10,21057519,민생약국,NaN,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4889046030200780002048274,NaN,경상남도 합천군 용주면 월평길 149-35,678912.0,50212.0,NaN,NaN,NaN,128.118615,35.575962
15,21006553,상명약국,NaN,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4713010800103400004022515,NaN,경상북도 경주시 금성로 281,780943.0,38156.0,NaN,1,NaN,129.206670,35.842804
16,21026027,햇살약국,NaN,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4117310100111010002005070,샛별한양아파트,경기도 안양시 동안구 달안로 61,431719.0,14043.0,NaN,NaN,NaN,126.948953,37.396502

In [23]:
#전국 도시별로 약국 수 확인
df_medi["시도명"].value_counts()

시도명
경기도        4510
서울특별시      3579
부산광역시      1130
경상남도       1017
인천광역시      1002
경상북도        915
대구광역시       870
전라북도        862
충청남도        830
전라남도        811
강원도         729
광주광역시       691
충청북도        648
대전광역시       603
울산광역시       362
제주특별자치도     226
세종특별자치시      99
Name: count, dtype: int64

In [25]:
#전국 약국 비율
df_medi["시도명"].value_counts(normalize=True)

시도명
경기도        0.238827
서울특별시      0.189526
부산광역시      0.059839
경상남도       0.053855
인천광역시      0.053061
경상북도       0.048454
대구광역시      0.046071
전라북도       0.045647
충청남도       0.043953
전라남도       0.042946
강원도        0.038604
광주광역시      0.036592
충청북도       0.034315
대전광역시      0.031932
울산광역시      0.019170
제주특별자치도    0.011968
세종특별자치시    0.005243
Name: proportion, dtype: float64