In [1]:
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
plt.rc('font',family='Malgun Gothic')
plt.rc('axes', unicode_minus=False)

%config InlineBackend.figure_format = 'retina'

# 그래프가 노트북 안에 보이게 하기 위해
%matplotlib inline

In [2]:
import seaborn as sns
#파일 로드
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/medical_201909.csv.zip", low_memory=False)
df.shape

(91335, 39)

In [13]:
#서울에 상가데이터만 가져오기
df_seoul = df[df["시도명"] == "서울특별시"]
#데이터 확인
df_seoul.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
1,20024149,타워광명내과의원,NaN,S,의료,S01,병원,S01B07,내과/외과,Q86201,...,1168011800104670014000001,NaN,서울특별시 강남구 언주로30길 39,135270.0,6292.0,NaN,4,NaN,127.053198,37.488742
8,20808534,코원성형외과,NaN,S,의료,S01,병원,S01B08,정형/성형외과,Q86201,...,1168010700105920004010990,이가빌딩,서울특별시 강남구 논현로 826,135893.0,6025.0,NaN,4,NaN,127.028531,37.522223

In [47]:
#서울 데이터 중 피부, 성형이 들어간 데이터만 가져오기
df_seoul_skin = df_seoul[df_seoul["상권업종소분류명"].str.contains("피부") |
                 df_seoul["상권업종소분류명"].str.contains("성형")]
#데이터 확인
df_seoul_skin.sample(3)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
32958,26738557,노피부과의원,NaN,S,의료,S01,병원,S01B16,피부과,Q86201,...,1150010300111160003016111,삼보프라자,서울특별시 강서구 화곡로 330,157010.0,7653.0,NaN,2,NaN,126.851179,37.553258
50443,22091846,주정형외과의원,NaN,S,의료,S01,병원,S01B08,정형/성형외과,Q86201,...,1165010700100520001016584,쌍동빌딩,서울특별시 서초구 고무래로 26,137040.0,6593.0,NaN,NaN,NaN,127.011225,37.502337
34373,9357073,김영재성형외과,NaN,S,의료,S01,병원,S01B08,정형/성형외과,Q86201,...,1168010800102410001000001,강남파라곤,서울특별시 강남구 학동로 338,135010.0,6099.0,A,7,7,127.040121,37.516488

In [43]:
#서울 전체 병원
df_seoul_hospital = df[ (df["상권업종중분류명"] == "병원") & 
                       (df["시도명"]== "서울특별시")]
#데이터 확인
df_seoul_hospital.head(1)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
1,20024149,타워광명내과의원,NaN,S,의료,S01,병원,S01B07,내과/외과,Q86201,...,1168011800104670014000001,NaN,서울특별시 강남구 언주로30길 39,135270.0,6292.0,NaN,4,NaN,127.053198,37.488742

In [69]:
#피부과 성형외과 / 전체 병원 
df_answer = (df_seoul_skin["시군구명"].value_counts() / df_seoul_hospital["시군구명"].value_counts())
df_answer

시군구명
강남구     0.236471
강동구     0.074899
강북구     0.046332
강서구     0.065630
관악구     0.043038
광진구     0.061667
구로구     0.058824
금천구     0.052023
노원구     0.051690
도봉구     0.018182
동대문구    0.041925
동작구     0.040936
마포구     0.087719
서대문구    0.076517
서초구     0.167224
성동구     0.050147
성북구     0.059574
송파구     0.064171
양천구     0.065327
영등포구    0.075581
용산구     0.045045
은평구     0.061265
종로구     0.032070
중구      0.073286
중랑구     0.068404
Name: count, dtype: float64

In [68]:
print(df_ans.sort_values(ascending=False).round(2))

시군구명
강남구     0.24
서초구     0.17
마포구     0.09
서대문구    0.08
영등포구    0.08
강동구     0.07
중구      0.07
중랑구     0.07
강서구     0.07
양천구     0.07
송파구     0.06
광진구     0.06
은평구     0.06
성북구     0.06
구로구     0.06
금천구     0.05
노원구     0.05
성동구     0.05
강북구     0.05
용산구     0.05
관악구     0.04
동대문구    0.04
동작구     0.04
종로구     0.03
도봉구     0.02
Name: count, dtype: float64