In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib

df = pd.read_csv(
    "https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/online_oversea_sale_202210.csv.zip", 
    encoding="cp949")
df_raw = pd.read_csv(
    "https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/online_oversea_sale_202210.csv.zip", 
    encoding="cp949")

In [2]:
df.head()
df.describe(include="object")
#df["판매유형별"].value_counts()

       국가(대륙)별        상품군별   판매유형별        시점
count     2772        2772    2772      2772
unique       9          14       1        22
top         미국  컴퓨터 및 주변기기  면세점 이외  2017.1/4
freq       308         198    2772       126

In [3]:
df.melt(id_vars=["국가(대륙)별", "상품군별", "판매유형별"])

     국가(대륙)별        상품군별   판매유형별 variable     value
0         미국  컴퓨터 및 주변기기  면세점 이외       시점  2017.1/4
1         미국  컴퓨터 및 주변기기  면세점 이외       시점  2017.2/4
2         미국  컴퓨터 및 주변기기  면세점 이외       시점  2017.3/4
3         미국  컴퓨터 및 주변기기  면세점 이외       시점  2017.4/4
4         미국  컴퓨터 및 주변기기  면세점 이외       시점  2018.1/4
...      ...         ...     ...      ...       ...
5539      기타         기 타  면세점 이외      데이터      1278
5540      기타         기 타  면세점 이외      데이터      1154
5541      기타         기 타  면세점 이외      데이터      1076
5542      기타         기 타  면세점 이외      데이터      2325
5543      기타         기 타  면세점 이외      데이터       725

[5544 rows x 5 columns]

In [4]:
df.columns

Index(['국가(대륙)별', '상품군별', '판매유형별', '시점', '데이터'], dtype='object')

In [5]:
df["데이터"]

0       1054
1        946
2        791
3        854
4       2033
        ...
2767    1278
2768    1154
2769    1076
2770    2325
2771     725
Name: 데이터, Length: 2772, dtype: int64

In [7]:
df.rename(columns={'데이터': '백만'}, inplace=True)
df.describe().round(2)

             백만
count   2772.00
mean    1613.12
std     4273.43
min   -10003.00
25%       41.75
50%      291.50
75%     1181.00
max    47689.00

In [8]:
df["연도"] = df["시점"].map(lambda x : int(x.split(".")[0]))
df["연도"]

0       2017
1       2017
2       2017
3       2017
4       2018
        ...
2767    2021
2768    2021
2769    2021
2770    2022
2771    2022
Name: 연도, Length: 2772, dtype: int64

In [9]:
df["분기"] = df["시점"].map(lambda x : int(x.split(".")[1].split("/")[0]))
df["분기"]

0       1
1       2
2       3
3       4
4       1
       ..
2767    2
2768    3
2769    4
2770    1
2771    2
Name: 분기, Length: 2772, dtype: int64

# Q1 답안

In [12]:
df.describe().round(2)

             백만       연도       분기
count   2772.00  2772.00  2772.00
mean    1613.12  2019.27     2.41
std     4273.43     1.60     1.11
min   -10003.00  2017.00     1.00
25%       41.75  2018.00     1.00
50%      291.50  2019.00     2.00
75%     1181.00  2021.00     3.00
max    47689.00  2022.00     4.00